.wrapper {
    max-width: 900px;
    margin: auto;
    font-family: "Arial";
}

.toolbar{
    width: 100%;
    background-color: white;
    overflow: auto;
}

.toolbar a {
    float: left;
    width: 11%;
    text-align: center;
    padding: 6px 5px;
    transition: all 0.5s ease;
    color: red;
}

.toolbar a:hover {
    background-color: grey;
}

.selected {
    background-color: lime;
}

#my-canvas{
    width: 100%;
    border: 3px solid black;
}

#img-data-div{
    width: 100%;
    max-width: 900px;
    height: 200px;
}

.toolbar a img{
    max-width:100%;
    height:auto;
}

.colors .item .swatch{
    box-sizing: border-box;
    width:100%;
    height: 100%;
    border:2px white solid;
}