/*Add styling to the wrapper class*/
.wrapper {
    max-width: 900px;
    margin: auto;
    font-family: "Arial";
}

/*Add styling to the toolbar class*/
.toolbar{
    width: 100%;
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    z-index: 1000;
}

/*Add styling to "a"*/
.toolbar a {
    float: left;
    width: 11%;
    text-align: center;
    padding: 6px 5px;
    transition: all 0.5s ease;
    color: red;
}

/*Add hover effect*/
.toolbar a:hover {
    background-color: grey;
}

/*Colors the selected element in the color specified below (color is subject to change)*/
.selected {
    background-color: lime;
}

/*Add styling to the canvas*/
#my-canvas{
    width: 100%;
    border: 3px solid black;
}

/*Adjust image sizes*/
#img-data-div{
    width: 100%;
    max-width: 900px;
    height: 200px;
}

.toolbar a img{
    max-width:100%;
    height:auto;
}

/*Adjust display stuff about the colour palette*/
.colors button{
    box-sizing: border-box;
    height:auto;
    width:auto;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

/*Delete the right border of the color palette*/
.colors button:not(:last-child) {
    border-right: none;
}

.colors:after {
    content: "";
    clear: both;
    display: table;
}

